.slideshow{
	height: 430px;
	width: 86%;
	margin:auto;
	background-color: #2e2e2e;

}
.slideshow img{
	width: 97.5%;
	height: 400px;
	margin:15px;
}

.bienvenidos{
	width: 86%;
	height: 270px;
	margin: 10px auto;
	color: #fff;
	background: #2c2c2c; /* Old browsers */
background: -moz-linear-gradient(top,  #2c2c2c 0%, #596a72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2c2c2c 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2c2c2c 0%,#596a72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2c2c2c 0%,#596a72 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2c2c2c 0%,#596a72 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

	border-radius: 5px;
}
.bienvenidos h1{
	font-size: 40px;
	margin: 5px;
	text-align: center;
}
.bienvenidos p{
	font-size: 20px;
	margin: 10px;
	text-align: justify;
}
