* {
    margin: auto;
    padding: 0;
}
         
body {  
    font-family: Ubuntu, arial, verdana;
  background: #F7F7F9;  
}

#main-header {
  background: #333;
  color: white;
  height: 80px; 
  width: 100%; 
}

.imagen {
  padding-top: 5px;
  padding-right: 5px;
}

#main-header a {
  color: white;
}

#logo-header {
  float: left;
  text-align: center;
  padding: 0 0 0 15px;
  text-decoration: none;
  font-size: 30px;
}
      
.nev > li{
  list-style: none;
  float:center;
}

.nav > li {
  list-style: none;
  float:right;
}
      
.nav li a {
  font-size: 25px;
  background-color:#333;
  color:#fff;
  text-decoration:none;
  padding:25px 70px 26px 35px;
  display:block;
}
      
.nav li a:hover {
  background-color: #13476d;
}
      
.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}
      
.nav li:hover > ul {
  display:block;
}
      
.nav li ul li {
  position:relative;
}
      
.nav li ul li ul {
  right:-140px;
  top:50px;
}

.row {
height: auto;
width: 60%;
clip: rect(auto,30px,auto,30px);
}
.col{
  text-align: justify;
}
#lista{
  text-decoration: none;
  list-style: none;
}